body
{
    background-color: black;
}

div
{
    display: inline-block;
    margin-left: 50%;
    margin-top: 25%;
    transform: translate(-50%,-50%);
}

.timeDesign 
{
    font-size: xx-large;
    color: rgb(29, 200, 231);
}